.big {
  width: 85%;
  height: 48px;
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-align: center;
}
.small {
  width: 30%;
  height: 48px;
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-align: center;
}

.prime {
  background-color: var(--primary-color);

  color: white;
}

.white {
  background-color: white;
  color: var(--primary-color);
}

.deactivate {
  box-shadow: none;
  background: none;
  border: 1px solid #e3e5eb;

  color: #e3e5eb;
}
