.login-container {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
}

.desc-containder {
  margin: 1.25rem;
}
.title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
}

.account-input {
  width: 70%;
  height: 2.25rem;
  margin: 0.25rem auto;
  padding: 1rem 0.5rem;
  border: 1.5px solid #bbbbbb;
  border-radius: 0.375rem;
}
.option-container {
  width: 85%;
  margin: 0px auto;
  display: flex;
}

.account-input::placeholder {
  color: #bbbbbb;
}
.account-input:focus-visible {
  outline-color: var(--primary-color);
}

.password-container {
  width: 70%;
  margin: auto;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  border: 1.5px solid #bbbbbb;
  border-radius: 0.375rem;
}
.password-container:focus-within {
  border: 1.5px solid var(--primary-color);
  outline: auto;
}

.password-input {
  width: 100%;
  margin: 0;
  border: 0;
}
.password-input:focus-visible {
  outline: none;
}

.svg-container {
  width: 1.5rem;
  height: 1.5rem;
}

.remember-container {
  margin: 0.5rem auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.remember {
  border-radius: 1rem;
}
.button {
  width: 70%;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.join {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.pointer {
  cursor: pointer;
}
.option-container {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #141414;
  margin-bottom: 32px;
}
.option-activate {
  padding-bottom: 3px;
  border-bottom: 4px solid var(--primary-color);
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
}

.desc {
  width: 85%;

  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #646464;
  margin-bottom: 4px;
}
